<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<script type="text/javascript">
function deleteWall(wallId,wallName){
	if(confirm('Are you sure you want to delete wall [' + wallName +']')){
		window.location='/wall/delete?id=' + wallId;
	}
};	
</script>
</head>
<body>
<h1>Wall Management</h1>
{% if error %}
<font color = "Red">error : {{ error }} </font>
{% endif %}
<br>
<table>
<tr>
	<td><a href="/">main page</a></td>	<td> - </td>
	<td><a href="{{logout_url}}">logout</a></td> <td> - </td>
	<td>Current User : {{user_email}}</td>
</tr>
</table>
<hr>
<p>
Here you will be able to 
<ul>
	<li>Add new walls</li>
	<li>Edit your existing walls</li>
	<li>Delete your walls</li>
	<li>Clear posts on your walls.(This will delete all posts on your wall, but your wall will still exist.)</li>
</ul>
</p>
<table>
<tr>
	<td><a href="/wall/create">Create a new wall</a></td>
</tr>
</table>
<b>Wall list</b>
<table class="list" border="1">
<tr>
<td></td><td></td><th>Wall id</th><th>Wall name</th><th>Creation Date</th>
</tr>
{% for wall in walls %}
<tr>
<td><input type="button" onclick="javascript:deleteWall({{wall.key.id}},'{{wall.name}}');" value="Delete"></input></td>
<td><input type="button" onclick="javascript:window.location='/wall/edit?id={{ wall.key.id }}';" value="Edit"></input></td>
<td>{{ wall.key.id }}</td>
<td>{{ wall.name }}</td>
<td>{{ wall.date|date:"r"}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
