<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/le-frog/jquery-ui.css" rel="stylesheet" />	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/logger.js"></script>
<script type="text/javascript">
logger.enableLog = true;
{%if wall %}
var wall = {
	id:	{{wall.key.id}},
    owner:	"{{wall.owner}}",
    date:	new Date("{{ wall.date|date:"Y/m/d H:i:s \G\M\T O"}}"),
	//General Tab Attributes
    name:	"{{wall.name}}",
    pageSize:	{{wall.pageSize}},
    allowEntry:	{% if wall.allowEntry %}true{% else %}false{% endif %},
    allowRead:	{% if wall.allowRead %}true{% else %}false{% endif %},
    allowHtml:	{% if wall.allowHtml %}true{% else %}false{% endif %},
    emailOnSubmit:	{% if wall.emailOnSubmit %}true{% else %}false{% endif %},
    lastSavedFirst:	{% if wall.lastSavedFirst %}true{% else %}false{% endif %},

    wallStyle:	{{wall.wallStyle}},
    nickLabel:	"{{wall.nickLabel}}",
    nick2Label:	"{{wall.nick2Label}}",
    postAreaLabel:	"{{wall.postAreaLabel}}",
    postButtonLabel:	"{{wall.postButtonLabel}}",
    resetButtonLabel:	"{{wall.resetButtonLabel}}",
    postStyle:	{{wall.postStyle}},
    dateStyle:	{{wall.dateStyle}},
    formWidth:	{{wall.formWidth}},
    formHeight:	{{wall.formHeight}}
};
var postCount= {{postCount}};
{% else %}
{% comment %}
This is create wall.
Default values goes here
{% endcomment %}
var wall = {
	id:	null,
    owner:	null,
    date: null,
	//General Tab Attributes
    name:	null,
    pageSize:	20,
    allowEntry:	true,
    allowRead:	true,
    allowHtml:	false,
    emailOnSubmit:	false,
    lastSavedFirst:	true,

    wallStyle:	1,
    nickLabel:	"nick",
    nick2Label:	"email",
    postAreaLabel:	"Post Value",
    postButtonLabel:	"Post",
    resetButtonLabel:	"Clear Form",
    postStyle:	1,
    dateStyle:	1,
    formWidth:	200,
    formHeight:	4
};
{% endif %}
var posturl="{{url}}";
var nextPage="/settings";
</script>

<script type="text/javascript" src="/static/js/wall.js"></script>
</head>

<body>
<div class="main">
<div class="header ui-widget-header ui-corner-all">Edit Wall</div>
<a href="/settings">Return to settings page</a>
<hr>
{%if wall%}<input type="hidden" name="id" value="{{ wall.key.id }}">{% endif %}
<!-- Main Tabs -->
<div id="mainTabs">
	<ul>
		<li><a href="#general">General</a></li>
		<li><a href="#generalStyle">General Style</a></li>
		<li><a href="#formAttributes">Form Attributes</a></li>
		<li><a href="#postStyle">Post Style</a></li>
		<li><a href="#dateStyle">Date Style</a></li>

	</ul>
<!-------------General Tab-------------->
	<div id="general">
		<table class="ui-widget ui-widget-content">
			<tr>
				<td>Wall Name</td>  
				<td><input type="text" id="name" maxlength="50"></td>
				<td><div id="wallNameAlert" class="validation_error"></div></td>
			</tr>
			<tr>
			 	<td>Page Size</td>
				<td><input type="text" id="pageSize" maxlength="50"></td>
				<td><div id="pageSizeAlert" class="validation_error"></div></td>
			</tr>
			<tr><td colspan="3">
				<input type="checkbox" id="allowEntry"/>Allow Entries from outside of the website.<br>
				If you uncheck this, clients will not be able to send posts but only display them.<br>
				We recommend to uncheck this only for blog style walls.<br>
				This options also enables you to use html tags within posts.
			</td></tr>
			<tr><td colspan="3">
				<input type="checkbox" id="allowRead"/>Allow people to read posts from your wall.<br>
				If you uncheck this, clients will not be able to display posts.
			</td></tr>
			<tr><td colspan="3">
				<input type="checkbox" id="allowHtml"/>Allow Html tags work in posts<br>
				If you check this posters will be able to control pages with java script. we recommend to use this only in Blog Style Walls.
			</td></tr>
			<tr><td colspan="3">
				<input type="checkbox" id="emailOnSubmit" />email new submited posts.<br>
				If you check this we will send you an email whenever you got new post on this wall. we will also keep the post on our database.<br>
				you can still come to this page and see the posts if you want to.This is recomendend if you have only an entry form on your page.
			</td></tr>
			<tr><td colspan="3">
			<input type="checkbox" id="lastSavedFirst"/>Show Last Posted text first.<br>
			if you uncheck this order will be reversed.(first post will be shown first)
			</td></tr>
		</table>

	</div>
	<!------------General tabs------------->
	<div id="generalStyle">
		<table class="ui-widget ui-widget-content">
		<tr><td><input type="radio" name="wallStyle" value="1"/>Standart Post(first an entry form and than a post list)</td></tr>
		<tr><td><input type="radio" name="wallStyle" value="2"/>Only an entry form(you can use this instead of giving your email address)</td></tr>
		<tr><td><input type="radio" name="wallStyle" value="3"/>Blog Style(only post data, no entry form.If you choose this. please also close entries from outside.)</td></tr>
		<tr><td><input type="radio" name="wallStyle" value="4"/>Standart Post(Reversed version - first post list and then  an entry form)</td></tr>
		</table>
	</div>
	<div id="formAttributes">
		<table class="ui-widget ui-widget-content">
		<tr>
		 	<td>Nick Label</td>
			<td><input type="text" id="nickLabel" maxlength="50"></td>
			<td><div id="nickLabelAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Nick2 Label</td>
			<td><input type="text" id="nick2Label" maxlength="50"></td>
			<td><div id="nick2LabelAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Post Area Label</td>
			<td><input type="text" id="postAreaLabel" maxlength="50"></td>
			<td><div id="postAreaLabelAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Post Button Label</td>
			<td><input type="text" id="postButtonLabel" maxlength="50"></td>
			<td><div id="postButtonLabelAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Reset Button Label</td>
			<td><input type="text" id="resetButtonLabel" maxlength="50"></td>
			<td><div id="resetButtonLabelAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Post Area Height</td>
			<td><input type="text" id="formHeight" maxlength="50"></td>
			<td><div id="formHeightAlert" class="validation_error"></div></td>
		</tr>
		<tr>
		 	<td>Post Area Width</td>
			<td><input type="text" id="formWidth" maxlength="50"></td>
			<td><div id="formWidthAlert" class="validation_error"></div></td>
		</tr>
		</table>
	</div>
	<!--------Post Style-------------->
	<div id="postStyle">
				<table class="ui-widget ui-widget-content">
				<tr><td><input type="radio" name="postStyle" value="1"/>Standart Post: nick nick2 [date] as header and post in the bottom</td></tr>
				<tr><td><input type="radio" name="postStyle" value="2"/>No Header Post: Prints only post value and no line after the post</td></tr>
				<tr><td><input type="radio" name="postStyle" value="3"/>NoHeader Post with horizontal line: Prints post and a horizontal line after it</td></tr>
				<tr><td><input type="radio" name="postStyle" value="4"/>Titled Post: Uses nick as title</td></tr>
				<tr><td><input type="radio" name="postStyle" value="5"/>Indipendent Post: Every Form is in its on table</td></tr>
				<tr><td><input type="radio" name="postStyle" value="6"/>Dated Post:date on top right corner</td></tr>
				<tr><td><input type="radio" name="postStyle" value="7"/>Dated Post(footnote): date on bottom right corner.</td></tr>
				</table>
	</div>
	<!--------Date Style-------------->
	<div id="dateStyle">
				<table class="ui-widget ui-widget-content">
				<tr><td><input type="radio" name="dateStyle" value="1"/>Date Time: [Wednesday, June 03, 2009 - 9:29:54 AM] </td></tr>
				<tr><td><input type="radio" name="dateStyle" value="2"/>Date Time (No paranthesis): Wednesday, June 03, 2009 - 9:29:54 AM</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="3"/>Date: [Wednesday, June 03, 2009]</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="4"/>Date (No paranthesis): Wednesday, June 03, 2009</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="5"/>Long Date: [Wed Jun 03 2009 15:53:51 GMT+0300 (GTB Daylight Time)]</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="6"/>Long Date: (No paranthesis): Wed Jun 03 2009 15:53:51 GMT+0300 (GTB Daylight Time)</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="7"/>Interval: [3 days ago]</td></tr>
				<tr><td><input type="radio" name="dateStyle" value="8"/>Interval (No paranthesis): 3 days ago</td></tr>
				</table>
	</div>
</div>
	<button id="submitButton">Submit</button>
	<button id="cancelButton">Cancel</button>
{% if wall %}
Number of posts:<span id="postCount"></span> - <a href="/wall/clear?id={{ wall.key.id }}">Clear all posts</a>

{% endif %}

</div>
</body>
</html>
